@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

:focus {
  outline: 0;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

:focus {
  outline: 0;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: ArialMT;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

/* Блок header */
.header {
  padding: 50px;
  max-width: 100%;
  min-height: 323px;
  background-color: #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid #445162;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

@media screen and (max-width: 1178px) {
  .header {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 15px;
  }
}

.header_heading {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

ul.text_heading > li {
  padding-left: 20px;
  position: relative;
}

ul.text_heading > li:before {
  content: '✔';
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}

.text_heading {
  margin: 30px 0 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.img_header:hover {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 123px;
  width: 235px;
}

@media screen and (max-width: 1178px) {
  .img_header {
    position: static;
  }
}

.section_1 {
  padding: 50px;
  width: 100%;
  min-height: 343px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 245px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

@media screen and (max-width: 1178px) {
  .section_1 {
    display: -ms-grid;
    display: grid;
  }
}

.heading_section_1 {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  font-weight: 400;
}

.texts_section_1 {
  max-width: 653px;
  min-height: 63px;
  margin: 20px 0 0 0;
}

.img_section_1:hover {
  width: 500px;
  height: 300px;
}

.img_section_1:focus {
  width: 500px;
  height: 300px;
}

@media screen and (max-width: 1178px) {
  .img_section_1 {
    padding-top: 20px;
  }
}

/* 2 Блок */
.section_2 {
  max-width: 100%;
  min-height: 400px;
  margin: 0;
  padding: 50px;
  background-color: #f5f5f5;
}

.heading_section_2 {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  font-weight: 400;
  text-align: center;
  margin: 0 0 20px 0;
}

.detectus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (576px)[2];
      grid-template-columns: repeat(2, 576px);
  grid-column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 1178px) {
  .detectus {
    -ms-grid-columns: 576px;
        grid-template-columns: 576px;
  }
}

.dignity_list {
  max-width: 576px;
}

.dignity_list_item {
  font-size: 16px;
  max-width: 540px;
  min-height: 63px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  position: relative;
}

.dignity_list_item:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: -46px;
}

.dignity_list_item:last-child {
  margin: 0;
}

.dignity_list_item:last-child {
  margin: 0;
}

/* 3 Блок */
.section_3 {
  margin: 0;
  padding: 50px;
  max-width: 100%;
  min-height: 400px;
}

.heading_section_3 {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  font-weight: 400;
  margin: 0 0 20px 0;
  text-align: center;
}

.headig_description {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
}

.descriptions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (584px)[2];
      grid-template-columns: repeat(2, 584px);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1178px) {
  .descriptions {
    -ms-grid-columns: 584px;
        grid-template-columns: 584px;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img_description {
  width: 230px;
  height: 130px;
}

.img_review {
  border-radius: 50%;
}

.img_description {
  margin: 0 10px 0 0;
}

.img_description {
  margin: 0 10px 0 0;
}

.text_description {
  max-width: 365px;
  min-height: 108px;
}

/* Блок 4 */
.section_3 {
  margin-top: 50px;
  max-width: 100%;
  min-height: 400px;
}

.heading_section_3 {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  font-weight: 400;
  text-align: center;
}

.reviews {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (584px)[2];
      grid-template-columns: repeat(2, 584px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1178px) {
  .reviews {
    -ms-grid-columns: 584px;
        grid-template-columns: 584px;
  }
}

.review {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 0 30px 20px;
}

.img_review {
  max-height: 75px;
  max-width: 75px;
}

.text_review {
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/bg_review_190.png) no-repeat;
}

.textreview {
  width: 450px;
  min-height: 64px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
}

.name_review {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #989898;
}

/* Блок 4 */
.section_4 {
  margin: 0;
  width: 100%;
  min-height: 600px;
}

.heading_section_4 {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  font-weight: 400;
  text-align: center;
}

.sections {
  padding: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

@media screen and (max-width: 1178px) {
  .sections {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    grid-row-gap: 30px;
  }
}

.section-1 {
  border-radius: 2%;
  background-color: #445162;
  width: 300px;
  height: 310px;
}

.section-2 {
  border-radius: 2%;
  background-color: #445162;
  width: 300px;
  height: 404px;
}

.section-3 {
  border-radius: 2%;
  background-color: #445162;
  width: 300px;
  height: 499px;
}

.heading-section {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0 20px 0;
  text-align: center;
}

.price-section {
  background-color: #fff;
  display: inline-block;
  width: 300px;
  font-size: 40px;
  line-height: 30px;
  color: #445162;
  padding: 20px 0 20px 0;
  text-align: center;
}

.list-section {
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 14px;
  color: #ffffff;
}

.button_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  text-transform: uppercase;
}

.button_buy:hover {
  background-color: #1b4d69;
}

.button_buy:active {
  background-color: #ffffff;
}

/* Footer */
.footer {
  margin-top: 50px;
  background-color: #445162;
  max-width: 100%;
  min-height: 509px;
}

.heading_footer {
  margin: 0 0 20px 0;
  padding-top: 55px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.information_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1178px) {
  .information_footer {
    display: -ms-grid;
    display: grid;
  }
}

.form_inputs {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  border: none;
}

.name_inputs {
  width: 500px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  background-color: #264063;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  margin: 0 0 20px 0;
  height: 40px;
}

.name_inputs:focus {
  background-color: #185fbd;
}

@media screen and (max-width: 1178px) {
  .name_inputs {
    width: 300px;
  }
}

.email_inputs {
  width: 500px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  background-color: #264063;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  margin: 0 0 20px 0;
  height: 40px;
}

.email_inputs:focus {
  background-color: #185fbd;
}

@media screen and (max-width: 1178px) {
  .email_inputs {
    width: 300px;
  }
}

.textarea_inputs {
  width: 500px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #445162;
  background-color: #264063;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  margin: 0 0 20px 0;
  height: 170px;
}

.textarea_inputs:focus {
  background-color: #185fbd;
}

@media screen and (max-width: 1178px) {
  .textarea_inputs {
    width: 300px;
  }
}

.send_button {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
  display: block;
  margin: 0 auto;
  resize: none;
}

.send_button:hover {
  background-color: #2a0ab8;
}

.send_button:active {
  background-color: #fff;
}

.contacts_lines {
  padding-left: 45px;
  width: 241px;
  margin: 0;
}

.social_icons {
  padding: 10px 0 0 0;
}

.text_information {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  bottom: 7px;
  display: block;
  margin: 0 0 15px 0;
  padding: 0 0 0 30px;
  position: relative;
  text-align: left;
}

.text_information::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 1px;
  left: 0;
}

.text_information:nth-child(1):before {
  background-image: url(../img/skype_icon_319.png);
}

.text_information:nth-child(2):before {
  background-image: url(../img/icq_icon_324.png);
}

.text_information:nth-child(3):before {
  background-image: url(../img/email_icon_332.png);
}

.text_information:nth-child(4):before {
  background-image: url(../img/phone_icon_337.png);
}

.social_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  padding-left: 45px;
}

.social-item {
  display: block;
  width: 45px;
  height: 42px;
  background-image: url(../img/socialbuttons.png);
}

.social-item:nth-child(2) {
  background-position: -48px 0;
}

.social-item:nth-child(3) {
  background-position: -96px 0;
}

.social-item:nth-child(4) {
  background-position: -147px 0;
}

.social-item:nth-child(5) {
  background-position: -195px 0;
}
/*# sourceMappingURL=style.css.map */